//COLORS
//main
$color-backgroung-1: #fff;
$color-backgroung-2: #2e2e2e;

//text
$color-text-1: #2f3841;
$color-text-2: #fff;

//grid
$grid-width: 114rem;
$gutter-horizontal: 5rem;
$gutter-verticval: 8rem;

$gutter-verticval-mobile: 4rem;
