.header {
  position: relative;
  height: 95vh;
  width: 100%;
  color: $color-text-2;
  background-color: $color-backgroung-2;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

  &__tittle {
    position: absolute;
    top: 5vh;
    left: 20%;
    width: 10rem;
    @include respond(tab-port) {
      position: absolute;
      top: 5vh;
      left: 10%;
    }
  }

  &__phone {
    position: absolute;
    top: 15vh;
    left: 20%;
    @include respond(tab-port) {
      position: absolute;
      top: 15vh;
      left: 10%;
    }

    img {
      width: 30rem;
      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &__text {
    position: absolute;
    top: 20%;
    left: 55%;
    width: 30vw;

    @include respond(tab-port) {
      @include absCenter;
      width: 90vw;
      text-align: center;
    }

    &--main {
      font-size: 4rem;
      font-weight: lighter;
      padding-bottom: 4rem;
    }

    &--sub {
      font-size: 1.5rem;
      font-weight: lighter;
      line-height: 4rem;
      margin-bottom: 4rem;
    }
  }
}
