.about {
  position: relative;
  height: auto;
  padding: 20rem 0 20rem 0;

  &__text {
    text-align: center;
    margin: 5rem;
  }

  img {
    max-width: 80vw;
    max-width: 100%;
    border-radius: 50rem;
  }
}

.data {
  position: relative;
  height: 50rem;

  background-color: $color-backgroung-2;
  color: $color-text-2;

  &__source {
    @include absCenter;
    text-align: center;
    line-height: 2rem;
    display: inline;
    width: 95%;

    p {
      padding-top: 2rem;
    }

    a {
      color: yellow;
    }
  }
}

.statistics {
  position: relative;
  height: 50rem;
  padding-top: 20rem;
  line-height: 4rem;
  padding: 20rem 0 20rem 0;

  &__content {
    @include absCenter;
  }

  img {
    width: 3rem;
  }
}

.contact {
  position: relative;
  height: 40rem;
  background-color: $color-backgroung-2;
  color: $color-text-2;

  &__content {
    @include absCenter;
    display: inline-block;

    &__input {
      input {
        width: 50%;
        padding: 6rem;
        border-radius: 3px;
      }
    }
  }
}
