.about {
  position: relative;
  height: auto;
  padding: 20rem 0 20rem 0;

  &__text {
    text-align: justify;
    margin: 5rem;
  }

  img {
    max-width: 80vw;
    max-width: 100%;
    border-radius: 50rem;
  }

  &__wiki {
    display: block;
    float: right;
    margin-right: 10%;
    margin-top: 3rem;
  }
}

.data {
  position: relative;
  height: 50rem;

  background-color: $color-backgroung-2;
  color: $color-text-2;

  &__source {
    @include absCenter;
    text-align: center;
    line-height: 2rem;
    display: inline;
    width: 95%;

    p {
      padding-top: 2rem;
    }

    a {
      color: yellow;
    }
  }
}

.statistics {
  position: relative;
  height: 50rem;
  padding-top: 20rem;
  line-height: 4rem;
  padding: 20rem 0 20rem 0;

  &__content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;

    &__header {
      position: absolute;
      top: 0%;
      left: 60%;
      transform: translate(-50%, -50%);
      padding-bottom: 5rem;
      min-width: 20rem;
    }
  }

  img {
    width: 3rem;
  }

  &__data {
    float: right;
    transform: translateY(-4rem);
  }
}

.contact {
  position: relative;
  height: 50rem;
  background-color: $color-backgroung-2;
  color: $color-text-2;

  &__content {
    @include absCenter;
    display: inline-block;
    width: 80%;
    padding-top: 10rem;

    &__input {
      &--small {
        display: inline-block;
        width: 44%;
        padding: 1.5rem 0;
        margin-left: 4%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        @include respond(tab-port) {
          width: 92%;
          margin-top: 3rem;
        }
      }
      &--large {
        display: inline-block;
        width: 92%;
        height: 10rem;
        padding: 1.5rem;
        margin-top: 3rem;
        margin-left: 4%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
    }
    &__btn {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }
}
